@tailwind base;
@tailwind components;
@tailwind utilities;


* {
        font-family: 'Nunito', !important;
}

body {
    background-color: #f0f0f0;
    background-size: cover;
    animation: scale-in 2s;
}

#app {
}

.node {
    display: flex;
    flex-direction: column;
    position: fixed;
    cursor: pointer;
    transition: 0.15s;
    min-width: 10vw;
    text-align: center;
    z-index: 1;


    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5vw;

    h2 {
        margin: 0;
        font-size: 1.5rem;
    }



    &:active {
        transform: scale(0.93);
    }

    &:not(:active) {
        animation: popup 0.5s;
    }

}

.selected {
    background-color: #f0f0f0;
}

.line {
    position: fixed;
    transform-origin: 0 0;
    height: 4px;
    z-index: 0;

    background: linear-gradient(90deg, #ddd 50%, transparent 50%);
    background-size: 15px 100%;
    background-repeat: repeat-x;

    animation: move-dashed-line 1s infinite linear;

    transition: 0.15s;

    &:hover {
        background: linear-gradient(90deg, #ccc 50%, transparent 50%);
        height: 6px;
        background-size: 15px 100%;
        background-repeat: repeat-x;
        
    }

}

.node-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;

    pointer-events: none;

    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1vw;

    z-index: 2;

    p {
        word-wrap: break-word;
        width: 53vw;
    }

    h3 {
        margin: 0;
        font-size: 1.5rem;
        width: 53vw;
    }

    img {
        height: 35vh;
        border-radius: 12px;
    }

    .node-content-images {
        margin-top: 1vw;
        margin-bottom: 1vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 53vw;
        gap: 1vw;
    }
}

@keyframes popup {
    0% {
        transform: scale(0.93);
    }

    33% {
        transform: scale(1.025);
    }

    66% {
        transform: scale(0.98);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes move-dashed-line {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 30px 0;
    }
}
